mat-toolbar {
    height: 56px;
    margin: 0;
}
.logo {
    font-size: 1.3rem;
    margin-right: 8px;
}
.title {
    font-size: 1rem;
    font-weight: 400;
}
.github {
    height: 26px;
    margin: 0 3px 0 0;
}