<div class="wrapper" fxFlex fxLayoutGap="40px" fxLayout="column">
    <div>
        <span class="title" style="color: #4285F4">H</span>
        <span class="title" style="color: #DB4437">e</span>
        <span class="title" style="color: #F4B400">l</span>
        <span class="title" style="color: #4285F4">l</span>
        <span class="title" style="color: #0F9D58">o</span>
        <span class="title">&nbsp;</span>
        <span class="title" style="color: #DB4437">W</span>
        <span class="title" style="color: #4285F4">o</span>
        <span class="title" style="color: #DB4437">r</span>
        <span class="title" style="color: #F4B400">l</span>
        <span class="title" style="color: #4285F4">d</span>
        <span class="title" style="color: #0F9D58">!</span>
        <br>

        <h2>Witaj na mojej stronie! Znajdziesz tutaj wszystkie prace robione na przedmiocie TSI.</h2>
    </div>
    <div>
        <h3>Linki</h3>
        <div fxLayoutAlign="center center">
            <mat-chip-list>
                <a style="text-decoration: none;" href="https://www.google.com" target="_BLANK"><mat-chip><img src="../../content/pictures/google.png" width="20px">&nbsp;&nbsp;Google</mat-chip></a>
                <a style="text-decoration: none;" href="http://zspm.pl" target="_BLANK"><mat-chip><img src="../../content/pictures/zspm.png" width="20px">&nbsp;&nbsp;ZSPM</mat-chip></a>
                <a style="text-decoration: none;" href="http://tsi-pai.cba.pl" target="_BLANK"><mat-chip><mat-icon>web</mat-icon>&nbsp;&nbsp;TSI-PAI.CBA.PL</mat-chip></a>
                <a style="text-decoration: none;" href="https://michalczyz.ml" target="_BLANK"><mat-chip><img src="../../content/pictures/mike.jpg" width="20px" style="border-radius: 50%;">&nbsp;&nbsp;Michał Czyż</mat-chip></a>
                <a style="text-decoration: none;" href="https://radio-poligraf.firebaseapp.com" target="_BLANK"><mat-chip><mat-icon>radio</mat-icon>&nbsp;&nbsp;Radio Poligraf</mat-chip></a>
            </mat-chip-list>
        </div>
    </div>
</div>