<div fxLayoutAlign="center center" fxLayout="column">
    <span fxHide.lt-lg id="hello">Witaj! Znajdziesz tutaj wszystkie strony wykonane na przedmiocie TSI</span>
    <span fxHide.gt-md id="hello-sm">Witaj! Znajdziesz tutaj wszystkie strony wykonane na przedmiocie TSI</span>
    <div id="pages" fxLayout="row" fxLayoutAlign="center center">
            <div class="page" *ngFor="let card of cards" [routerLink]="[card.url]">
                <div class="card-img" fxLayoutAlign="center center">
                    <mat-icon>{{ card.img }}</mat-icon>
                </div>
                <h1 class="card-h1">{{ card.header }}</h1>
                <span class="card-more">{{ card.more }}</span>
            </div>
    </div>
</div>
