html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}
.dark-theme {
    background: #303030;
    color: white;
}

