<mat-toolbar fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayout="row" color="primary" fxLayoutGap.xs="6px" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div fxHide.xs>
          <i class="fas fa-file-code logo"></i>
      </div>
      <div fxHide.xs>
        <span class="webdev"><a [routerLink]="['/']">Web Development</a></span>
      </div>
    </div>
    <div class="version">
      <span>Aktualna Wersja: 4.1.0</span>
    </div>
    <div class="copyright" fxLayout="column">
      <span><a href="https://mczyz.ml">Michał Czyż</a> &copy;2018-{{ year }}</span>
      <span><a href="https://github.com/eRgo35/Project-TSI/blob/master/LICENSE">Kod źródłowy strony jest na licencji MIT</a></span>
    </div>
  </mat-toolbar>